* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  -webkit-app-region: drag;
  //菜单图标与文字间距
  --mx-menu-placeholder-width: 10px !important;

  .nodrag,
  span,
  .el-input,
  .el-select,
  textarea,
  option {
      -webkit-app-region: no-drag;
  }
}

